In [1]:
import pandas as pd
import numpy as np

from sklearn import linear_model
from sklearn.model_selection import train_test_split
import pickle

In [2]:
df = pd.read_csv("homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [3]:
df.shape

(6, 4)

In [4]:
df.isnull().sum()

area        0
bedrooms    1
age         0
price       0
dtype: int64

In [5]:
df['bedrooms'] = df['bedrooms'].fillna(df['bedrooms'].median())

In [6]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [7]:
X = df.drop('price',axis=1)
y=df['price']

In [8]:
Xtrain,Xtest,ytrain,ytest = train_test_split(X,y,test_size=0.1,random_state=42)

In [9]:
reg = linear_model.LinearRegression()

In [10]:
reg.fit(Xtrain,ytrain)

LinearRegression()

In [11]:
reg.intercept_

23245.285760998726

In [12]:
reg.coef_

array([  136.0698325 , 40084.9289685 , -1186.64389783])

In [13]:
reg.predict([[5300,5,21]])

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([919920.52101878])

In [14]:
pickle.dump(reg, open('model.pkl','wb'))